/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white-soft: #f8f8f8;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-dark-1: var(--vt-c-white);
}

body {
  overflow-x: hidden;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);

    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
